-.json
{
  "createdAt": "2025-06-12T15:00:51.725Z",
  "updatedAt": "2025-06-12T15:03:40.578Z",
  "id": "0yMtmGcVMHrdIZdf",
  "name": "My workflow 5",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {}
          ]
        }
      },
      "id": "ca645038-3992-4902-ad57-6dcd832679c6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -560,
        300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $now }}",
        "duration": 30,
        "options": {}
      },
      "id": "d38630dc-d3b5-44c0-af8e-39651b83ad4c",
      "name": "PURGE DAYS",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -160,
        580
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "delete",
        "path": "={{ $json.pathDisplay }}"
      },
      "id": "c84c13a1-dec4-4261-a121-1f50e0d75a77",
      "name": "DELETE OLD BACKUPS",
      "type": "n8n-nodes-base.dropbox",
      "position": [
        520,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "dropboxApi": {
          "id": "7S85Xl3wT16hm4L2",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "content": "MOVE CURRENT BACKUPS TO OLD FOLDER",
        "height": 223.80675203725258,
        "width": 932.4394074276975
      },
      "id": "8a0056d0-33ff-4eb4-954c-e2ca489e0b5d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "BACKUP ALL CURRENT WORKFLOWS",
        "height": 185.32013969732247,
        "width": 931.4765002625034
      },
      "id": "0410bb36-8f7b-4f83-af1a-a786b42bf698",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "PURGE BACKUPS OLDER THEN 30 DAYS\n",
        "height": 203.55064027939466,
        "width": 932.4394074276973
      },
      "id": "d6acef71-bf69-4f18-89b3-97d784742b65",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "={{ $('HTTP Request').item.json.name }}"
        }
      },
      "id": "eaa58950-bcec-41a0-aa44-98933ae64c23",
      "name": "MAKE JSON FILES",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        340,
        340
      ],
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "={{ $('DESTINATION FOLDER').last().json.folder }}{{ $('HTTP Request').item.json.name }}.json",
        "binaryData": true
      },
      "id": "0afeb076-8c21-4200-b844-368060d616cf",
      "name": "UPLOAD WORKFLOWS",
      "type": "n8n-nodes-base.dropbox",
      "position": [
        560,
        340
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "credentials": {
        "dropboxApi": {
          "id": "7S85Xl3wT16hm4L2",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "folder",
              "stringValue": "/n8n_backups/"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "5e5893b3-8ce6-4fb2-88d0-ff16e5c996e6",
      "name": "DESTINATION FOLDER",
      "type": "n8n-nodes-base.set",
      "position": [
        -340,
        300
      ],
      "notesInFlow": true,
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "99a4e7a1-8a59-40d1-acbe-2c59569df3d9",
      "name": "WAIT FOR MOVE TO FINISH",
      "type": "n8n-nodes-base.merge",
      "position": [
        -120,
        340
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "={{ $('DESTINATION FOLDER').last().json.folder }}",
        "limit": 250,
        "filters": {}
      },
      "id": "203ddd7b-132d-4111-8916-4a089eca99e4",
      "name": "GET CURRENT BACKUPS",
      "type": "n8n-nodes-base.dropbox",
      "position": [
        120,
        140
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "dropboxApi": {
          "id": "7S85Xl3wT16hm4L2",
          "name": "Dropbox account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a13e9fd6-ef31-4e23-bde6-955ffab5849b",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.type }}",
              "rightValue": "folder"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5ed3599e-ac5e-4997-8a6d-fd067e3cdd92",
      "name": "IGNORE FOLDERS",
      "type": "n8n-nodes-base.filter",
      "position": [
        340,
        140
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "move",
        "path": "={{ $json.pathDisplay }}",
        "toPath": "={{ $('DESTINATION FOLDER').last().json.folder }}old/{{ $json.name }}_{{ $('GET CURRENT DATE').last().json.formattedDate }}.json"
      },
      "id": "5907f280-0aa5-43e9-95f6-91515b1dc37b",
      "name": "MOVE INTO OLD FOLDER",
      "type": "n8n-nodes-base.dropbox",
      "position": [
        560,
        140
      ],
      "executeOnce": false,
      "notesInFlow": true,
      "retryOnFail": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "dropboxApi": {
          "id": "7S85Xl3wT16hm4L2",
          "name": "Dropbox account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "={{ $('DESTINATION FOLDER').last().json.folder }}old",
        "limit": 500,
        "filters": {}
      },
      "id": "2c04bb45-c97c-4e30-b972-51d987c9ba2f",
      "name": "LIST OLD BACKUPS",
      "type": "n8n-nodes-base.dropbox",
      "position": [
        80,
        580
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "dropboxApi": {
          "id": "7S85Xl3wT16hm4L2",
          "name": "Dropbox account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e0aa83a7-a65b-4008-9010-bf4f14c0c398",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.lastModifiedServer }}",
              "rightValue": "={{ $('PURGE DAYS').item.json.newDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "351d2986-7e3e-4684-97f4-376eb0e2029a",
      "name": "CHECK DATES",
      "type": "n8n-nodes-base.if",
      "position": [
        300,
        580
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "=yyyy-MM-dd_HHmm",
        "options": {}
      },
      "id": "73cbacfa-9530-4c11-8b39-360bbf061452",
      "name": "GET CURRENT DATE",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -120,
        140
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://primary-production-a00b4.up.railway.app/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        340
      ],
      "id": "04867201-6545-44ec-8932-025f0d67abad",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tEIZVxbqmyosk2tI",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "DESTINATION FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PURGE DAYS": {
      "main": [
        [
          {
            "node": "LIST OLD BACKUPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAKE JSON FILES": {
      "main": [
        [
          {
            "node": "UPLOAD WORKFLOWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESTINATION FOLDER": {
      "main": [
        [
          {
            "node": "GET CURRENT DATE",
            "type": "main",
            "index": 0
          },
          {
            "node": "WAIT FOR MOVE TO FINISH",
            "type": "main",
            "index": 1
          },
          {
            "node": "PURGE DAYS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT FOR MOVE TO FINISH": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CURRENT BACKUPS": {
      "main": [
        [
          {
            "node": "IGNORE FOLDERS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IGNORE FOLDERS": {
      "main": [
        [
          {
            "node": "MOVE INTO OLD FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MOVE INTO OLD FOLDER": {
      "main": [
        [
          {
            "node": "WAIT FOR MOVE TO FINISH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIST OLD BACKUPS": {
      "main": [
        [
          {
            "node": "CHECK DATES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK DATES": {
      "main": [
        [
          {
            "node": "DELETE OLD BACKUPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CURRENT DATE": {
      "main": [
        [
          {
            "node": "GET CURRENT BACKUPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "MAKE JSON FILES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9598ec7e-3c40-469a-bb08-576ac8bf8017",
  "triggerCount": 0,
  "tags": []
}